
@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  font-family: 'Figtree', sans-serif;
}
.my-custom-shadow {
  box-shadow: 8px 8px 0px 0px rgba(0,0,0,1);
}


.my-custom-shadow:hover {
  box-shadow: 14px 14px 0px 0px rgba(0,0,0,1);
}